:root {
    --pink: #ff3ec9;
    --white: #ffffff;
    --milk: #fcfcfc;
    --black: #000000;
    --index: calc(1vw + 1vh);
    --transformtime: 100ms;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    scroll-behavior: smooth;
}

.head-splitter {
    background-color: var(--pink);
    height: 15vh;
    width: 100%;
}

main {
    position: relative;
}

/* first section */

#init-display {
    width: 100%;
    min-height: 50vh;
    background-color: var(--pink);
    display: flex;
    color: white;
    position: relative;
    overflow: hidden;
}

#section1-cont {
    width: 100%;
    height: 100%;
    padding:  0 calc(var(--index) * 4);
    display: flex;
    align-items: center;
    justify-content: center;
}   

#main-text-cont {
    width: 50%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#main-text-cont h1 {
    font-size: 2.5rem;
    white-space: nowrap;
    text-align: center;
}

#main-text-cont p {
    text-align: center;
}

#cat-img-princess-cont {
    position: absolute;
    bottom: -1vw;
    left: 0;
    width: 15vw;
}

#princess-img {
    width: 100%;
    filter: drop-shadow(3px 3px 5px black);
}

#cat-img-candies-cont {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15vw;
}

#candies-img {
    width: 100%;
    filter: drop-shadow(-3px 3px 5px black);
}

/* catalog section */

#catalog {
    background-color: rgb(250, 250, 250);
    padding: 30px 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#categories {
    display: flex;
    width: 40%;
    height: 50px;
    justify-content: space-around;
    background: rgba(255, 62, 201, 0.3);
    align-items: center;
    border-radius: 50px;
}

#categories button {
    width: 30%;
    border: none;
    background: none;
    cursor: pointer;
    height: 70%;
    border-radius: 50px;
    color: rgb(75, 75, 75);
    font-weight: bold;
    transition: var(--transformtime);
}

#categories button:hover {
    background: rgba(255, 62, 201, 0.5) !important;
}

#items-cont {
    width: calc(100% - 10vw);
    padding: 30px 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 300px;
}

.item {
    width: 20%;
    position: relative;
    padding: var(--index);
    background-color: white;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: calc(var(--transformtime) * 2);
}

.item:hover {
    transform: scale(1.05);
}

.item img {
    max-width: 100%;
}

.item h2 {
    align-self: flex-end;
    font-weight: 500;
    margin-top: 0;
}

.item p {
    font-weight: bold;
    text-align: center;
    height: 38.4px;
}

.item button {
    border: none;
    background-color: var(--pink);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: medium;
    font-weight: 100;
    font-variant: small-caps;
    cursor: pointer;
    transition: background-color var(--transformtime);
}

.item button:hover {
    background-color: #ff77d9;
}

.new-item::before {
    content: "New";
    position: absolute;
    background-color: rgba(4, 212, 4, 0.9);
    width: 100%;
    height: 200px;
    top: -155px;
    left: -15vw;
    text-align: end;
    padding: 0 30px;
    border-radius: 40px;
    line-height: 350px;
    vertical-align: bottom;
    color: white;
}

/* notifications */

#not-cont {
    position: fixed;
    z-index: 9;
    height: 80vh;
    width: 18%;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5vh;
    pointer-events: none;
}

.notification {
    background-color: white;
    width: 100%;
    height: 75px;
    padding: 5px 10px;
    border: 1px solid var(--pink);
    border-radius: 15px;
    transition: .5s opacity, .5s height;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    opacity: 1;
    position: relative;
}

.notification p {
    font-size: 0.8rem;
    text-align: center;
}

.notification img {
    position: absolute;
    right: 10px;
    top: 5px;
    max-width: 15px;
}

.notification img:hover {
    cursor: pointer;
}

/* media queries */

@media (max-width: 1200px) {

    #catalog {
        padding: 30px 5vw;
    }

    #items-cont {
        padding: 30px 5vw;
    }

    .new-item::before {
        left: -17vw;
    }
}

@media (max-width: 940px) {
    #main-text-cont h1 {
        font-size: 1.5rem;
    }
    
    #main-text-cont p {
        font-size: 0.9rem;
    }

    #cat-img-princess-cont {
        width: 20vw;
    }

    #cat-img-candies-cont {
        width: 21vw;
    }

    #categories {
        width: 60%;
    }

    #init-display {
        min-height: 40vh;
    }

    #items-cont {
        padding: 30px 0;
    }

    .item {
        width: 25%;
    }

    .new-item::before {
        left: -20vw;
    }

}

@media (max-width: 800px) {
    #catalog {
        padding: 30px 0;
    }

    #items-cont {
        width: 100%;
    }

    .new-item::before {
        left: -25vw;
    }
}

@media (max-width: 580px) {
    #main-text-cont {
        width: 100%;
    }

    #cat-img-princess-cont {
        width: 30vw;
    }

    #cat-img-candies-cont {
        width: 30vw;
    }

    #categories {
        width: 100%;
    }

    #init-display {
        min-height: 45vh;
    }

    #items-cont {
        flex-direction: column;
        align-items: center;
        gap: 5vw;
    }

    .item {
        width: 40%;
    }

    .notification {
        height: 100px;
        width: 100px;
    }

    #not-cont {
        right: 40px;
    }

    .new-item::before {
        left: -38vw;
    }
}

@media (max-width: 460px) {
    .item {
        width: 60%;
    }

    .new-item::before {
        left: -58vw;
    }
}
