:root {
    --pink: #ff3ec9;
    --white: #ffffff;
    --milk: #fcfcfc;
    --black: #000000;
    --index: calc(1vw + 1vh);
    --transformtime: 100ms;
}

header {
    padding: 0 calc(var(--index) * 4);
    height: 15vh;
    width: calc(100% - 8 * var(--index));
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0;
    justify-content: space-between;
    background: rgba(255, 62, 201, 0.7);
    backdrop-filter: blur(10px);
    opacity: 0.9;
    transition: background var(--transformtime);
}

nav {
    display: flex;
    align-items: center;
    position: relative;
}

ul {
    font-size: 1.1rem;
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    gap: calc(var(--index) * 5);
    transition: gap var(--transformtime);
}

li {
    display: flex;
    align-items: center;
    transition: var(--transformtime);
    position: relative;
}

li a {
    text-decoration: none;
    color: var(--white);
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

/* li a:hover {
    text-shadow: 1px 1px 5px black;
} */

li a::after {
    content: "";
    width: 100%;
    height: 1.5px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform calc(var(--transformtime) * 2);
}

li a:hover::after {
    transform: translate(0%);
}

#logo-cont {
    height: 100%;
    width: 200px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

#img-logo {
    height: auto;
    width: 100%;
    max-height: 100%;
    transition: filter var(--transformtime);
}

#img-logo:hover {
    filter: drop-shadow(1px 1px 5px black);
}

#logo-cont a {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

#basket-cont {
    height: 100%;
    width: 50px;
}

#basket-counter {
    position: absolute;
    color: white;
    top: 25px;
    left: 0;
    z-index: 11;
    width: 100%;
}

#basket-counter p {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: medium;
}

#img-basket {
    height: auto;
    width: 100%;
    filter: invert();
}

#burger {
    box-sizing: border-box;
    visibility: hidden;
    position: absolute;
    height: 60px;
    width: 60px;
    right: 20px;
    display: none;
}

label {
    box-sizing: border-box;
    position: relative;
    height: 60px;
    width: 60px;
}

.menu-button {
    flex-direction: column;
    cursor: pointer;
    visibility: hidden;
}

.menu-button span {
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    top: 45%;
    right: 15px;
    background-color: var(--white);
    transition: transform 0.3s ease-in-out;
}

.menu-button span::before {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--white);
    transition: transform 0.3s ease-in-out;
    content: " ";
    position: relative;
    top:-7px;
}

.menu-button span::after {
    display: block;
    width: 30px;
    height: 3px;
    top: 0;
    background-color: var(--white);
    transition: transform 0.3s ease-in-out;
    content: "";
    position: relative;
    top: 4px;
}

#burger:checked + .menu-button span::before {
    transform: rotate(45deg) translate(5px, 5px);
}

#burger:checked + .menu-button span {
    background: transparent;
}

#burger:checked + .menu-button span::after {
    transform: rotate(-45deg) translate(5px, -5px);
}


@media (max-width: 1000px) {
    ul {
        gap: calc(var(--index) * 4);
    }
}

@media (max-width: 840px) {
    #burger, .menu-button {
        visibility: visible;
        z-index: 5;
        align-self: center;
    }

    #burger:checked ~ ul {
        right: 0;
    }

    ul {
        padding-top: 15vh;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        z-index: 4;
        position: fixed;
        top: 0;
        width: 100vw;
        height: auto;
        color: black;
        right: -200vw;
        background: rgba(255, 62, 201, 0.9);
        transition: right calc(var(--transformtime) * 4);
        gap: 10vh;
    }
    
    ul li a {
        top: 0;
        color: white;
    }

    ul > li {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav {
        margin-left: 5vw;
    }
    header {
        padding: 0 calc(var(--index) * 2);
        width: calc(100% - 4 * var(--index));
    }
}